{% extends 'base.html' %}

{% block content %}

<form method="get" action="">
  <input type="search" aria-invalid="false" id="search" name="keyword" placeholder="&nbsp;Search by pet"
    class="searchInputField" />
</form><br>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Room NO.</th>
          <th>Owner</th>
        </tr>
      </thead>
      <tbody>
        {% for pet in pets %}
          <tr>
            <td class="align-middle">{{ pet.name }}</td>
            <td class="align-middle">{{ pet.room_number }}</td>
            <td class="align-middle">{{ pet.owner }}</td>
            <div>
              {% if user.is_authenticated %}
                {% if perms.accounts.add_pet %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'pet_add' %}">Add</a>
                {% endif%}
                {% if perms.accounts.change_pet %}
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'pet_change_staff' %}">Change</a>
                {% endif%}
              {% endif%}
            </div>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No pets right now.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}